.principalDiv {
	text-align: center;
	margin-top: 2%;
}
.centerDiv {
	margin-left: 32%;
}
.leftColumnConfig {
	width: 25%;
	margin-right: 5%;
	margin-bottom: 2%;
}
.ingresoSpace {
	margin-left: 5%;
}
.dateSelectSize {
	width: 23%;
}
#fechaTramite {
	margin-bottom: 13%;
}
.addTramite {
	width: 36%;
}
#importe {
	width: 53%;
}