body {
	background-color: #b3f0ff;
}

.principalDiv {
	text-align: center;
	margin-top: 2%;
}

.leftColumnConfig {
	margin-left: 2.5%;
	margin-bottom: 2%;
	background-color: #b3f0ff;
}
.ingresoSpace {
	margin-left: 5%;
}
#fechaTramite {
	margin-bottom: 13%;
	background-color: #b3f0ff;
}
#importe {
	width: 95.25%;
}
#concepto {
	width: 45%;
	margin-right: 5%;
}
.form-select {
	background-color: #b3f0ff;
}
.addTramite {
	width: 95%;
}